.index-image{
    filter: grayscale(10%);
    border-radius: 111px 11px 0px 11px;
}
p, .flex-grow-1{
    color: black;
}
.index-descr{
    border-radius: 11px 111px 11px 0px;
    height: 533px;
}
.our-services{
    height: 300px;
    width: 100%;
}